<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8"><title>Quiz</title>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>    
  </head>
  <body>    
    <h3 style="color:red">El autor de la aplicación es: <%= autor %></h3>
	<img src="/images/yo.jpg" alt="Mi foto" style="width:300px;height:168px;">
  </body>
</html>