<!DOCTYPE html>
<html>
  <head>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz. El juego de las preguntas</h2>
    <form method="GET" action="quizes/answer">		
		Respuesta: <%= respuesta %>
		<a href="quizes/question">Probar de nuevo</a>
	</form>
  </body>
</html>